<section>
  
  <h2>{{ data.username }}</h2>
  
  <table>
    <caption>Predictions</caption>
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Prediction</th>
        <th>Result</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each preds }}
      <tr>
        <td><a href="/teams/{{ [match.TeamA.id] }}">{{ [match.TeamA.name] }}</a></td>
        <td>{{ prediction }}</td>
        <td>{{ [match.result] }}</td>
        <td><a href="/teams/{{ [match.TeamB.id] }}">{{ [match.TeamB.name] }}</a></td>
      </tr>
      {{/each }}
    </tbody>
  </table>
  <a href="/predictions">My Predictions</a>
  <a href="/users/invite">Invite a friend</a>
  
</section>