<footer class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 col-md-offset-2">
      <h4>Info</h4>
      <ul>
        <li><a href="/pages/about">About</a></li>
        <li><a href="/pages/how-to-play">How to play</a></li>
        <li><a href="/pages/rules">Rules</a></li>
      </ul>
    </div>
    <div class="col-sm-3 col-md-2">
      <h4>Standings</h4>
      <ul>
        <li><a href="/users">Main League</a></li>
        <li><a href="/leagues">User Leagues</a></li>
      </ul>
    </div>
    <div class="col-sm-3 col-md-2">
      <h4>Data</h4>
      <ul>
        <li><a href="/teams">Teams</a></li>
        <li><a href="/venues">Venues</a></li>
        <li><a href="/matches">Matches</a></li>
      </ul>
    </div>
    <div class="col-sm-3 col-md-2">
      <a href="https://twitter.com/goalmine_eu" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @goalmine_eu</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
  </div>

</footer>

<script src="/js/main.js"></script>
<script src="/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
<script></script>
