<section class="row">
  <div class="col-sm-10 col-md-8 col-md-offset-2">
    
    <h2>Stats</h2>

    <ul>
      <li><a href="/pages/goaltime">Goals by time scored</a></li>
      <li><a href="/goals/cumulative">Cumulative goals scored by tournament</a></li>
      <li><a href="/pages/matchpoints">Matches by number of points scored</a></li>
    </ul>
  </div>
</section>