<section class="row">
  <div class="cols-sm-10 cols-md-8 cols-md-offset-2">
    
    <h3>Changelog</h3>

    <table class="table table-sm">
      <thead>
        <tr>
          <th>Version</th>
          <th>Date</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>7.0.8</td>
          <td>June 26</td>
          <td>
            <span>FIX: user/view doesn't now expose KO predictions [<a href="https://github.com/njmanton/lyall/commit/04c3d926b9e25a6aa0159f36f9f08d99756492c9">04c3d92</a>]</span>
          </td>
        </tr>
        <tr>
          <td>7.0.7</td>
          <td>June 14</td>
          <td>
            <span>FIX: league organisers now see pending requests [<a href="https://github.com/njmanton/lyall/commit/2aa8faad7f3e704e738e045ff56d3286a5c62e36">2aa8faa</a>]</span><br />
            <span>Add hover functionality to Goalmap [<a href="https://github.com/njmanton/lyall/commit/0423d91957380b2d9f3f28e9ede650bee15163be">0423d91</a>]</span><br />
            <span>Highlight non-payers in league table [<a href="https://github.com/njmanton/lyall/commit/0a6a837a76d01d3bfc362b85cd0ff59693a4905f">0a6a837</a>]</span>
          </td>
        </tr>
        <tr>
          <td>7.0.6</td>
          <td>June 12</td>
          <td>
            <span>FEAT: add chart of goals by time [<a href="https://github.com/njmanton/lyall/commit/643bb4a3210ed7014b26c2c3aaab5ca10c1925ab">6433bb4</a>]</span><br />
            <span>Change formatting for small screens [<a href="https://github.com/njmanton/lyall/commit/c9edc210fa3b0139a5e612cb3ab5001e69e941fd">c9edc21</a>]</span>
          </td>
        </tr>
        <tr>
          <td>7.0.5</td>
          <td>June 11</td>
          <td>
            <span>Add constraints for prediction formats (x-x) [<a href="https://github.com/njmanton/lyall/commit/f697ca327d4d579f1740590f547673a83d4f3e40">f697ca3</a>]</span><br />
            <span>FEAT: Add table of all goals scorer [<a href="https://github.com/njmanton/lyall/commit/1f97f199c1ad7e0f589f36561c41c50be291ee68">1f97f19</a>]</span>
          </td>
        </tr>
        <tr>
          <td>7.0.4</td>
          <td>June 10</td>
          <td>
            <span>FEAT: ability to enter goals/scorers [<a href="https://github.com/njmanton/lyall/commit/1a6fbeabb222ad3e3a11049ffc21e44069b17a96">1a6fbe</a>]</span>
          </td>
        </tr>
        <tr>
          <td>7.0.3</td>
          <td>June 9</td>
          <td>
            <span>FIX predictions update looking at wrong ID [<a href="https://github.com/njmanton/lyall/commit/7bce1a429e0cc6f8612ef04f909162e993ddedac">7bce1a</a>]</span>
          </td>
        </tr>
        <tr>
          <td>7.0.2</td>
          <td>June 8</td>
          <td>
            <span>FIX predictions table name for Ubuntu [<a href="https://github.com/njmanton/lyall/commit/c01af20e26d4ed03bcf85607097d00a640894e8b">c01af20</a>]</span><br />
            <span>Ensure final is a joker [<a href="https://github.com/njmanton/lyall/commit/b8c58912b96ab462559eca94c6a0c0b6f5a3db11">b8c589</a>]</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
