<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="http://code.highcharts.com/modules/heatmap.js"></script>

<section>
  
  <div id="container" style="width: 400px; height: 400px; margin: 0 auto;"></div>

</section>

<script>
  $(function() {

    var cht = {
      chart: {
        type: 'heatmap',
        marginTop: 40,
        marginBottom: 80,
        plotBorderWidth: 1
      },
      title: {
        text: 'Prediction Heatmap'
      },
      xAxis: {
        title: { text: 'Home' },
        tickInterval: 1,
        min: 0
      },
      yAxis: {
        title: { text: 'Away' },
        gridLineWidth: 0,
        tickInterval: 1,
        min: 0
      },
      colorAxis: {
        min: 0,
        minColor: '#FFFFFF',
        maxColor: Highcharts.getOptions().colors[0]
      },
      tooltip: {
        formatter: function() {
          var text = '';
          if (this.series.name == 'Goals predicted') {
            text = '<b>' + this.point.value + '</b> prediction(s) for ' + this.point.x + '-' + this.point.y;
          } else {
            text = '<b>' + this.series.name + '</b>: ' + this.point.x + '-' + this.point.y;
          }
          return text;
        }
      },
      legend: {
        enabled: false
      },
      series: [{
        name: 'Goals predicted',
        borderWidth: 1
      }, {
        type: 'scatter',
        marker: { symbol: 'circle', radius: 6 },
        color: '#0f0',
        name: 'Mean Prediction',
        tooltip: { formatter: function() { 'Mean Prediction: '; } }
      }, {
        type: 'scatter',
        marker: { symbol: 'circle', radius: 6 },
        color: '#f00',
        name: 'Result',
        tooltip: { formatter: function() { 'Result: '; } }
      }]

    }
    $.get('/matches/1/heatmap').done(function(d) { 
      cht.series[0].data = d.counts;
      cht.series[1].data = [d.mean];
      cht.series[2].data = [d.result];
      $('#container').highcharts(cht);
    })

    

  })
</script>